# Copyright (C) The DDC development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT

---
Language:                                       Cpp
AccessModifierOffset:                           -4
AlignAfterOpenBracket:                          AlwaysBreak
AlignConsecutiveMacros:                         false
AlignConsecutiveAssignments:                    false
#   AlignConsecutiveBitFields:                      false # !!!requires clang 11
AlignConsecutiveDeclarations:                   false
AlignEscapedNewlines:                           Right
AlignOperands:                                  true # AlignAfterOperator !!!requires clang 11
AlignTrailingComments:                          false
AllowAllArgumentsOnNextLine:                    false
AllowAllConstructorInitializersOnNextLine:      false
AllowAllParametersOfDeclarationOnNextLine:      false
#   AllowShortEnumsOnASingleLine:                   true # !!!requires clang 11
#   AllowShortBlocksOnASingleLine:                  Empty # !!!requires clang 10
AllowShortCaseLabelsOnASingleLine:              false
AllowShortFunctionsOnASingleLine:               Empty
AllowShortLambdasOnASingleLine:                 All
AllowShortIfStatementsOnASingleLine:            Never
AllowShortLoopsOnASingleLine:                   false
AlwaysBreakAfterDefinitionReturnType:           None
AlwaysBreakAfterReturnType:                     None
AlwaysBreakBeforeMultilineStrings:              false
AlwaysBreakTemplateDeclarations:                Yes
BinPackArguments:                               false
BinPackParameters:                              false
BraceWrapping:
  AfterCaseLabel:                               false
  AfterClass:                                   true
  AfterControlStatement:                        false # Never !!!requires clang 10
  AfterEnum:                                    false
  AfterFunction:                                true
  AfterNamespace:                               false
  AfterObjCDeclaration:                         false
  AfterStruct:                                  true
  AfterUnion:                                   false
  AfterExternBlock:                             false
  BeforeCatch:                                  false
  BeforeElse:                                   false
#     BeforeLambdaBody:                             false # !!!requires clang 11
#     BeforeWhile:                                  false # !!!requires clang 11
  IndentBraces:                                 false
  SplitEmptyFunction:                           true
  SplitEmptyRecord:                             true
  SplitEmptyNamespace:                          true
BreakAfterJavaFieldAnnotations:                 false
BreakBeforeBinaryOperators:                     All
BreakBeforeBraces:                              Custom
BreakBeforeInheritanceComma:                    true
BreakBeforeTernaryOperators:                    true
BreakConstructorInitializers:                   BeforeComma
BreakConstructorInitializersBeforeComma:        true
BreakInheritanceList:                           BeforeComma
BreakStringLiterals:                            true
ColumnLimit:                                    100
CommentPragmas:                                 '^ IWYU pragma:'
CompactNamespaces:                              false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth:              4
ContinuationIndentWidth:                        8
Cpp11BracedListStyle:                           true
#   DeriveLineEnding:                               true # !!!requires clang 10
DerivePointerAlignment:                         false
DisableFormat:                                  false
ExperimentalAutoDetectBinPacking:               false
FixNamespaceComments:                           true
IncludeBlocks:                                  Regroup
IncludeCategories:
  # MPI must come first, before std headers
  - Regex:           '^[<"]mpi\.h[">]'
    Priority:        -180
#       SortPriority:    -100                  # !!!requires clang 10
  # std (extensionless, directoryless) headers
  - Regex:           '^<[^./]*>$'
    Priority:        -160
  # std::experimental (extensionless) headers
  - Regex:           '^<experimental/[^./]*>$'
    Priority:        -140
  # ddc headers
  - Regex:           '^<ddc/.*>$'
    Priority:        -120
  # sll headers
  - Regex:           '^<sll/.*>$'
    Priority:        -100
  # other library headers (with subdirectory)
  - Regex:           '^<.*/.*>$'
    Priority:        -80
  # library headers (with extension)
  - Regex:           '^<.*\.h[^.]*>$'
    Priority:        -60
  # local headers (with subdirectory)
  - Regex:           '^".*/.*"$'
    Priority:        -40
  # local headers
  - Regex:           '^".*"$'
    Priority:        -20
IncludeIsMainRegex:                             '^$'
#    IncludeIsMainSourceRegex:                       '' # !!!requires clang 10
IndentCaseLabels:                               false
#    IndentCaseBlocks:                               false # !!!requires clang 10
#    IndentExternBlock:                              NoIndent # !!!requires clang 11
#    IndentGotoLabels:                               false # !!!requires clang 10
IndentPPDirectives:                             None
IndentWidth:                                    4
IndentWrappedFunctionNames:                     false
JavaScriptQuotes:                               Leave
JavaScriptWrapImports:                          true
KeepEmptyLinesAtTheStartOfBlocks:               false
MacroBlockBegin:                                ''
MacroBlockEnd:                                  ''
MaxEmptyLinesToKeep:                            3
NamespaceIndentation:                           None
PenaltyBreakAssignment:                         2
PenaltyBreakBeforeFirstCallParameter:           100000
PenaltyBreakComment:                            2000000
PenaltyBreakFirstLessLess:                      100000
PenaltyBreakString:                             100000
PenaltyBreakTemplateDeclaration:                1
PenaltyExcessCharacter:                         1000000
PenaltyReturnTypeOnItsOwnLine:                  100000
PointerAlignment:                               Left
ReflowComments:                                 false
SortIncludes:                                   true
SortUsingDeclarations:                          true
SpaceAfterCStyleCast:                           false
SpaceAfterLogicalNot:                           false
SpaceAfterTemplateKeyword:                      true
SpaceBeforeAssignmentOperators:                 true
SpaceBeforeCpp11BracedList:                     true
SpaceBeforeCtorInitializerColon:                true
SpaceBeforeInheritanceColon:                    true
SpaceBeforeParens:                              ControlStatements
SpaceBeforeRangeBasedForLoopColon:              true
#   SpaceInEmptyBlock:                              false # !!!requires clang 10
SpaceInEmptyParentheses:                        false
SpacesBeforeTrailingComments:                   1
SpacesInAngles:                                 false
#   SpacesInConditionalStatement:                   false # !!!requires clang 10
SpacesInContainerLiterals:                      true
SpacesInCStyleCastParentheses:                  false
SpacesInParentheses:                            false
SpacesInSquareBrackets:                         false
#   SpaceBeforeSquareBrackets:                      false # !!!requires clang 10
Standard:                                       Cpp11 # c++17 !!!requires clang 10
StatementMacros:                                []
TabWidth:                                       4
#   UseCRLF:                                        false # !!!requires clang 10
UseTab:                                         Never
...
