# Copyright (C) The DDC development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT
---
Checks:
'-*,
bugprone-*,
-bugprone-easily-swappable-parameters,
-bugprone-exception-escape,
-bugprone-integer-division,
-bugprone-narrowing-conversions,
-bugprone-unchecked-optional-access,
cert-*,
-cert-dcl21-cpp,
-cert-err58-cpp,
google-readability-avoid-underscore-in-googletest-name,
hicpp-*,
-hicpp-explicit-conversions,
-hicpp-member-init,
-hicpp-move-const-arg,
-hicpp-named-parameter,
-hicpp-noexcept-move,
-hicpp-special-member-functions,
-hicpp-static-assert,
-hicpp-use-auto,
misc-*,
-misc-header-include-cycle,
-misc-include-cleaner,
-misc-non-private-member-variables-in-classes,
-misc-redundant-expression,
-misc-static-assert,
-misc-unused-parameters,
-misc-use-anonymous-namespace,
modernize-*,
-modernize-pass-by-value,
-modernize-use-auto,
-modernize-use-nodiscard,
-modernize-use-trailing-return-type,
performance-*,
-performance-enum-size,
-performance-move-const-arg,
-performance-noexcept-move-constructor,
-performance-unnecessary-value-param,
portability-*,
readability-*,
-readability-function-cognitive-complexity,
-readability-identifier-length,
-readability-implicit-bool-conversion,
-readability-magic-numbers,
-readability-named-parameter,
-readability-redundant-access-specifiers,
-readability-redundant-inline-specifier'
WarningsAsErrors: '*'
