# Copyright (C) The DDC development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT
---
Checks:
'-*,
bugprone-branch-clone,
bugprone-reserved-identifier,
google-readability-avoid-underscore-in-googletest-name,
hicpp-avoid-c-arrays,
misc-const-correctness,
modernize-use-nullptr,
performance-avoid-endl,
readability-*,
-readability-function-cognitive-complexity,
-readability-identifier-length,
-readability-implicit-bool-conversion,
-readability-magic-numbers,
-readability-named-parameter,
-readability-redundant-access-specifiers,
-readability-redundant-inline-specifier'
WarningsAsErrors: '*'
