# Copyright (C) The DDC development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT
---
Checks:
'-*,
bugprone-*,
-bugprone-easily-swappable-parameters,
-bugprone-exception-escape,
-bugprone-integer-division,
-bugprone-narrowing-conversions,
-bugprone-unchecked-optional-access,
google-readability-avoid-underscore-in-googletest-name,
hicpp-avoid-c-arrays,
misc-const-correctness,
modernize-use-nullptr,
performance-*,
-performance-enum-size,
-performance-move-const-arg,
-performance-noexcept-move-constructor,
-performance-unnecessary-value-param,
readability-*,
-readability-function-cognitive-complexity,
-readability-identifier-length,
-readability-implicit-bool-conversion,
-readability-magic-numbers,
-readability-named-parameter,
-readability-redundant-access-specifiers,
-readability-redundant-inline-specifier'
WarningsAsErrors: '*'
