# Copyright (C) The DDC development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT

---
name: Markdown checks

# yamllint disable-line rule:truthy
on:
  pull_request:
    paths:
      - '.github/workflows/markdown-checks.yaml'
      - '**.md'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/markdown-checks.yaml'
      - '**.md'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  markdown-lint:
    name: Markdown lint using markdownlint-cli2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      - uses: DavidAnson/markdownlint-cli2-action@30a0e04f1870d58f8d717450cc6134995f993c63  # v21.0.0
