name: pages
on:
  push:
    branches: [ main ]
  pull_request:
jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout built branch
      uses: actions/checkout@v2
    - name: Build
      run: |
        echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
        docker pull ghcr.io/maison-de-la-simulation/ddc/doxygen || true
        docker build \
          --cache-from ghcr.io/maison-de-la-simulation/ddc/doxygen \
          -t ghcr.io/maison-de-la-simulation/ddc/doxygen \
          -t ghcr.io/maison-de-la-simulation/ddc/doxygen:${GITHUB_SHA:0:7} \
          docker/doxygen
        docker push ghcr.io/maison-de-la-simulation/ddc/doxygen:${GITHUB_SHA:0:7}
    - name: Publish
      if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
      run: |
        docker push ghcr.io/maison-de-la-simulation/ddc/doxygen
  pages:
    runs-on: ubuntu-latest
    needs: docker-build
    steps:
    - name: Checkout built branch
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        submodules: true
    - name: Build site
      run: |
        cat<<-EOF > run.sh
          cmake -DBUILD_DOCUMENTATION=ON -DDDC_BUILD_PDI_WRAPPER=OFF /src
          if make doc 2>&1 | tee >(cat>&2) | grep ' warning: ' > /dev/null
          then
            make doc 2>&1 | grep ' warning: '
            exit 1
          fi
          mv docs/html /src/
        EOF
        docker run -v ${PWD}:/src ghcr.io/maison-de-la-simulation/ddc/doxygen:${GITHUB_SHA:0:7} bash /src/run.sh
    - name: Publish site
      if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
      run: |
        git worktree add -B gh-pages public remotes/origin/gh-pages
        find public -mindepth 1 -maxdepth 1 '!' -name .git -exec rm -rf '{}' '+'
        mv html/* public/
        echo "ddc.mdls.fr" > public/CNAME
        git -C public config user.name "${GITHUB_ACTOR}"
        git -C public config user.email "${GITHUB_ACTOR}@noreply.example.com"
        git -C public add -A .
        git -C public commit -a -m "Update to match ${GITHUB_SHA} by ${GITHUB_EVENT_NAME} ${GITHUB_RUN_NUMBER}" || true
        git -C public push
