name: pages
on:
  push:
  pull_request:
jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout built branch
      uses: actions/checkout@v3
    - name: Build
      run: |
        echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
        docker pull ghcr.io/maison-de-la-simulation/ddc/doxygen || true
        docker build \
          --cache-from ghcr.io/maison-de-la-simulation/ddc/doxygen \
          -t ghcr.io/maison-de-la-simulation/ddc/doxygen \
          -t ghcr.io/maison-de-la-simulation/ddc/doxygen:${GITHUB_SHA:0:7} \
          docker/doxygen
        docker build --tag my_test docker/doxygen
        docker images
        cd docker
        docker images
        cd doxygen
        docker images
        cd ../..
        docker save ghcr.io/maison-de-la-simulation/ddc/doxygen:${GITHUB_SHA:0:7} > doxygen.tar
        ls
        ls docker
        ls docker/doxygen
    - name: Publish
      if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
      run: |
        docker push ghcr.io/maison-de-la-simulation/ddc/doxygen
    - name: Save doxygen docker
      uses: actions/upload-artifact@v3
      with:
        name: doxygen-artifact
        path: doxygen.tar
        retention-days: 1
  pages:
    runs-on: ubuntu-latest
    needs: docker-build
    steps:
    - name: Checkout built branch
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: true
    - name: Collect doxygen docker
      uses: actions/download-artifact@v3
      with:
        name: doxygen-artifact
    - name: Build site
      run: |
        cat<<-EOF > run.sh
          set -xe 
          cmake -DBUILD_DOCUMENTATION=ON -DDDC_BUILD_PDI_WRAPPER=OFF /src
          make doc
          mv docs/html /src/docs_out
        EOF
        mkdir docs_out
        chmod a+rwx docs_out
        ls docker/doxygen
        docker run ${PWD}/docker/doxygen bash /src/run.sh
    - name: Publish site
      if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
      run: |
        git worktree add -B gh-pages public remotes/origin/gh-pages
        find public -mindepth 1 -maxdepth 1 '!' -name .git -exec rm -rf '{}' '+'
        cp -a docs_out/html/* public/
        echo "ddc.mdls.fr" > public/CNAME
        git -C public config user.name "${GITHUB_ACTOR}"
        git -C public config user.email "${GITHUB_ACTOR}@noreply.example.com"
        git -C public add -A .
        git -C public commit -a -m "Update to match ${GITHUB_SHA} by ${GITHUB_EVENT_NAME} ${GITHUB_RUN_NUMBER}" || true
        git -C public push
