# Copyright (C) The DDC development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT

---
name: Shell checks

# yamllint disable-line rule:truthy
on:
  pull_request:
    paths:
      - '.github/workflows/shell-checks.yaml'
      - '**.sh'
      - 'bin/applyreuse'
      - 'docker/*/bash_run'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  shell-lint:
    name: Shell lint using shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38  # 2.0.0
        env:
          SHELLCHECK_OPTS: -e SC1091
        with:
          additional_files: 'bin/applyreuse docker/*/bash_run'
