# Copyright (C) The DDC development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT

---
name: Website tests

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: "0 1 * * *"  # every day at 1am
  workflow_dispatch:

permissions:
  contents: read

jobs:
  links-check:
    name: Links check using linkchecker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          ref: gh-pages
      - name: Install linkchecker
        run: |
          pipx install linkchecker~=10.6
      - name: Analysing the links of the website
        run: |
          linkchecker --check-extern --ignore-url=https://www.doxygen.org/index.html --ignore-url=https://theses.fr/2022AIXM0412 index.html
